<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <register serviceType="Sitecore.XA.Foundation.Multisite.ISiteInfoResolver, Sitecore.XA.Foundation.Multisite" implementationType="Sitecore.XA.Foundation.Multisite.SiteInfoResolver, Sitecore.XA.Foundation.Multisite" lifetime="Singleton">
                <patch:attribute name="implementationType">Sitecore.Support.XA.Foundation.Multisite.SiteInfoResolver, Sitecore.Support.252270</patch:attribute>
            </register>
        </services>
    </sitecore>
</configuration>